@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1:#eeeeee;
    --cor2:#ffc200;
    --cor3:#0088cc;
    --cor4:#000000;
    --fontdestaque:"Anton", sans-serif;
    --fontnormal:"Montserrat", sans-serif;;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:var(--cor3);
    height: 100vh;
    
}
header{
    background-color: var(--cor4);
    color: var(--cor2);
    font-family: var(--fontnormal);
    font-size: 70px;
    text-align: center;

}
section{
    font-family: var(--fontnormal);
    text-align: center;
    color: var(--cor4);
    height: 600px;
    width: auto;
    font-size: 20px;
}
.img1 {
    text-align: left;
    font-family: var(--fontdestaque);
    font-size: 100px;
    background-image: url('../imagens/foto3.png');
    background-position: left center;
    background-size: cover;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    padding: 10px;
    background-attachment: fixed;
}
.img2 {
    text-align: right;
    font-family: var(--fontdestaque);
    font-size: 100px;
    background-color: var(--cor3);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    padding: 10px;
}
.img4 {
    text-align: left;
    font-family: var(--fontdestaque);
    font-size: 100px;
    background-color: var(--cor2);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    padding: 10px;
}
.img3 {
    color: var(--cor1);
    text-align: right;
    font-family: var(--fontdestaque);
    font-size: 100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    padding: 10px;
    background-image: url('../imagens/foto4.png');
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;

}
footer{
    background-color: var(--cor4);
    color: var(--cor1);
   
    font-family: var(--fontnormal);
    padding: 10px;
}
footer p{
    text-align: center;

}
footer a{
    text-decoration: none; 
    font-weight: bold;
    color: var(--cor1);
}
footer a:hover{
    text-decoration: underline;
}